:root {
  --silver: #f9f9f9;
  --cerulean: #05f;
  --medium-shade: #3333;
  --bg-color: var(--silver);
  --link-color: var(--cerulean);
}
html { background: var(--bg-color) }
body {
  width: calc(100vw - 30px);
  max-width: 800px;
  margin: auto;
  display: grid;
  header {
    grid-area: head;
    width: 100%;  
    display: flex;
    flex-direction: column;
    .text-wrap {
      margin: 40px 0;
    }
    .img-wrap {
      width: 100%;
      height: 67vh;    
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      margin-bottom: 36px;
      img {
        width: 75vh;
        min-width: 120%;
      }
    }
  }
  main {
    grid-area: main;
    section {
      margin-bottom: 54px;
      max-width: 40em;
      article {
        ~ article {
          margin-top: 54px;
        }
        ul.links, p { padding-inline-start: 40px }
        ul.links  {
          display: flex;
          list-style-type: none;
          margin: 10px 0;
          padding: 0;
          li {
            margin-top: 0;
            cursor: pointer;
            border-bottom: 2px dotted var(--link-color);
            transition-property: background;
            transition-duration: 200ms;
            ~ li { 
              margin-left: 20px;
            }
            a {
              display: block;
              height: 34px;
            }
            &:hover {
              background-color: var(--medium-shade);
            }
          }
        }
        ol {
          padding-inline-start: 80px;
        }
      }
    }
  }
  footer {
    grid-area: foot;
    height: 10vh;
    position: relative;
    float: left;
    p {
      color: var(--medium-shade);
      mix-blend-mode: multiply;
    }
  }
}
