$theia-weights: 
  ('100')
  ('200')
  ('300')
  ('400')
  ('500');
@each $weight in $theia-weights {
  @font-face {
    font-family: 'Theia';
    font-weight: #{$weight};
    src: url('./fonts/Theia0.2-#{$weight}.woff') format('woff');
    src: url('./fonts/Theia0.2-#{$weight}.woff2') format('woff2');
  }
}
@font-face {
  font-family: 'Manufab';
  src: url('./fonts/ManufabGX.woff') format('woff');
  src: url('./fonts/ManufabGX.woff2') format('woff2');
}
@font-face {
  font-family: 'Brahmin';
  font-style: regular;
  src: url('./fonts/Brahmin-4r.otf') format('opentype');
}
@font-face {
  font-family: 'Brahmin';
  font-style: italic;
  src: url('./fonts/Brahmin-4i.otf') format('opentype');
}
@font-face {
  font-family: 'Uruz';
  font-style: regular;
  src: url('./fonts/Uruz-5c.otf') format('opentype');
}
@font-face {
  font-family: 'Xeno';
  font-style: regular;
  src: url('./fonts/Xeno-4R.otf') format('opentype');
}
