:root {
  --thin-layout: 
    [row1-start] 'head' auto [row1-end]
    [row2-start] 'main' auto [row2-end]
    [row3-start] 'foot' auto [row3-end]
    /             100%;
  --wide-layout: 
    [row1-start] 'head main' auto [row1-end]
    [row2-start] 'foot foot' auto [row2-end]
    /             60%  40%;
}
body {
  grid-template: var(--thin-layout);
}
@media (min-width: 750px) {
  body { 
    header {
      .text-wrap h1 {
        font-size: 90px;
      }
      .img-wrap {
        max-width: 800px;
        max-height: 800px;
      }
    }
  }
}
@media (min-width: 1500px) {
  body {
    grid-template: var(--wide-layout);
    max-width: 90%;
    gap: 20px;
    header {
      display: inline-flex;
      width: auto;
      position: fixed;
    }
    main {
      padding-top: 11vw;
      align-self: center;
    }
  }
}
